{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "node": "8.70"
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-runtime"
  ]
}
